<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styleTabla.css">
    
    <title>Tabla Productos</title>
</head>
<body>
    <section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="h5 mb-4 text-center">Lista de Productos</h3>
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Producto</th>
						      <th>Precio</th>
						      <th>Imagen</th>
						    </tr>
						  </thead>
						  <tbody>
							  <% data.forEach((data) => { %>
								<tr class="alert" role="alert">
									<td>
										<div class="email">
											<span><%=data.title  %> </span>
											<span></span> 
										</div>
									</td>
									  <td><%=data.price  %> </td>
	
									<td>
										<img class="img" src=<%=data.thumbnail  %> alt="MDN">
											
									</td>
								</tr> 
								<% }) %>	
						  </tbody>
						</table>
						<a href="/"><button type="button" class="btn btn-primary ">Agregar un producto</button></a>
					</div>
				</div>
			</div>
		</div>
	</section>

<script src="js/tabla/jquery.min.js"></script>
  <script src="js/tabla/popper.js"></script>
  <script src="js/tabla/bootstrap.min.js"></script>
  <script src="js/tabla/main.js"></script>
</body>
</html>